*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-style: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
}
textarea,
button,
input {
    font-weight: inherit;
    font-style: inherit;
    columns: inherit;
}
button {
    cursor: pointer;
    background-color: inherit;
}