@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	color: #6C757D;
	font-weight: 300;
}
main {
	max-width: 1270px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.picture {
	max-width: 1240px;
	margin: 0 auto 80px;
	font-size: 0px;
}
.picture image {
	max-width: 100%;
}
.img1 {
	margin-right: 30px;
}
.text {
	max-width: 816px;
	margin: 0 auto 80px;
}
.text h2 {
	color: #212529;
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	margin-bottom: 40px;
}
.text p {
	line-height: 1.8;
	margin-bottom: 30px;
}
